* {
  font-family: monospace !important;
  text-transform: uppercase !important;
}

body {
  margin: 0 !important;
}

/* REVOGRID CSS */
revo-grid {
  display: flex;
  justify-content: center;
}

revogr-scroll-virtual {
  display: none;
}

.rgCell {
  text-align: center !important;
}

.header-rgRow, .actual-rgRow {
  height: 28px !important;
}

.header-content {
  align-self: flex-end !important;
}

.header-content > div {
  white-space: pre-line !important;
  line-height: normal !important;
}

.temp-bg-range {
  display: block !important;
}

.ID_Dash:hover {
  color: white !important;
}

revogr-data > .focused-rgRow, .OK {
  background-color: white;
  color: black;
}

.ERROR {
  transition-property: background-color, color;
  transition-duration: 0.6s;
  background-color: #EB5454;
  color: white;
}